body{
	background-color:	#0f0f2d;
	color: 				#c9c7da;
	min-width:			700px;
	min-height:			5000px;
	cursor: 			url(/src/img/cursor.png) 8 8, default;
	margin: 			0;
}
button{
	background-color: 	#0000;
	border: 			#0000 solid 0;
	color:				#c9c7da;
	cursor: 			inherit;
}
#MenuUpProf{
	height:				inherit;
	display:			flex;
	width: 				auto;
	border:				#c9c7da solid 0px;
	border-width: 		0px 1px 0px 0px;
}
#MenuUp{
	height:				3rem;
	position:			sticky;
	top:				0;
	left:				0;
	width:				100%;
	background-color: 	#050517;
	display:			flex;
	list-style:			none;
	margin:				0;
	padding-left: 		0;
	z-index: 			20;
}
#ImgMenuUpProf{
	height: 			inherit;
	width: 				3rem;
	margin: 			0;
	border-radius: 		100%;
	border:				#c9c7da solid 0px;
	border-width: 		0px 3px 0px 0px;
}
#NickMenuUP{
	height: 			inherit;
	width: 				9rem;
	overflow: 			hidden;
}
#ChooseMenuUp{
	height: 			inherit;
	width: 				3rem;
	padding:			0;
	display: 			inline;
}
.menuUpButton{
	height: 			inherit;
	display:			flex;
	flex-direction: 	row;
	width: 				4rem;
	border:				#c9c7da solid 0px;
	border-width: 		0px 1px 0px 0px;
}
.menuUpButton:hover{
	background-color: 	#0f0f2d;
}
#ChooseMenuUp:hover{
	background-color: 	#0f0f2d;
}
#ImgMenuUp{
	height:				2.5rem;
	width:				auto;
	margin:				0 auto;
	display:			block;
}
#LabelMenuUp{
	font-size:			0.7rem;
	position:			relative;
	bottom:				4px;
}
#ProfilePage{
	position:			absolute;
	width:				100%;
	height:				auto;
	top:				3rem;
	z-index:			0;
}
#ProfileAvatar{
	width:				200px;
	height:				200px;
	border-radius: 		50%;
}
#InfoBlock{
	width:				calc(100% - 200px);
	position:			absolute;
	height:				200px;
	right:				0;
}
#NameInInfo{
	font-size:			2rem;
}